<html>
    <head>
        <title>
          BLC data view
        </title>
        <link rel="stylesheet" href="/assets/main.css">
      </head>
      
    <body>
        <div class="table-data" >
            <table border="1" border-collapse: collapse>
                <tr>
                    <th>Detection time</th>
                    <th>Time to bathroom (s)</th>
                    <th>Time on bathroom (s)</th>
                    <th>Time from bathroom (s)</th>
                </tr>

                <tr>            
                <%
                if(userData.length != 0){
                    var i = 1;
                    userData.reverse()
                    userData.forEach(function(data){ %>
                        <td> <%=data.start_time %></td>
                        <td> <%=data.time_to_bathroom %></td>
                        <td> <%=data.time_on_bathroom %></td>
                        <td> <%=data.time_from_bathroom %></td>
                        <!-- TODO: change up the ref to something else or remove it -->
                        <td> <a href="/details/<%=data.session_id%>">View details</a></td>
                </tr>
                        <% i++}) %>    
             <% }   else {%>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
                <%  } %>
            </table>
        </div>
        <div class="data">
            <button style="top:-100px" onclick="window.location.href='/homepage'">Go to homepage</button><br>
        </div>

    </body>    
</html>
<br>

